.ck-editor__main {
  min-height: 420px;
}

.ck-editor__editable {
  min-height: 420px;
}

.editor-container_classic-editor .editor-container__editor {
  min-width: 795px;
  max-width: 795px;
}

.ck-content {
  color: revert;
  font-family: revert;
  font-size: revert;
  font-weight: revert;
  line-height: revert;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.ck-content > blockquote,
.ck-content > dl,
.ck-content > dd,
.ck-content > h1,
.ck-content > h2,
.ck-content > h3,
.ck-content > h4,
.ck-content > h5,
.ck-content > h6,
.ck-content > hr,
.ck-content > figure,
.ck-content > p,
.ck-content > pre {
  margin: revert;
}

.ck-content > ol,
.ck-content > ul {
  list-style: revert;
  margin: revert;
  padding: revert;
}

.ck-content > table {
  border-collapse: revert;
}

.ck-content > p {
  font-size: 13px;
  font-weight: revert;
}

.ck-content > h1,
.ck-content > h2,
.ck-content > h3,
.ck-content > h4,
.ck-content > h5,
.ck-content > h6 {
  font-size: revert;
  font-weight: revert;
}

.ck-content > p > a {
  color: revert;
  text-decoration: revert;
  cursor: pointer;
}
